html {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

p {
	padding-left: 1em;
}

*, *::before, *::after {
 	box-sizing: inherit;
 }

body {
	margin: 0;
	background-color: #fffcdf;
}

h1 {
	margin: 0;
	color: white;
	padding: 0.5em;
	position: relative;
	background: radial-gradient(#A00000, #5F0000);
	font-family: 'Laila', serif;
	font-size: 175%;
	text-align: center;
}

header {
	background: radial-gradient(#A00000, #5F0000);
	margin-bottom: 40px;
}

.top-nav {
	width: 100%;
	background-color: #A00000;
}

.top-ul {
	padding: 0;
	margin: 0;
	background-color: #A00000;
}

.top-li {
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
	width: 25%;
	float: left;
	display: inline-block;
	text-align: center;
}

.top-a {
	color: white;
	text-align: center;
	text-decoration: none;
	background: radial-gradient(#A00000, #5F0000);
	margin: 0;
	width: 100%;
	padding: 0.5em 0;
	margin: 0;
	display: inline-block;
	border: solid 1px black;
}


.top-a:hover {
	background: radial-gradient(#5F0000, #400000);
}

.banner-div {
	position: relative;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 58%;
}

.banner-p {
	font-size: 1.25rem;
	color: white;
	background-image: linear-gradient(to top, rgba(0,0,0,0.75), transparent);
	text-align: center;
	bottom: 0%;
	width: 100%;
	padding: 1em 0;
	margin: 0;
	position: absolute;
	bottom: 0;
	font-family: 'Laila', serif;
}

h2 {
	clear: both;
	background: radial-gradient(#A00000, #5F0000);
	color: white;
	font-family: 'Laila', serif;
	box-shadow: 0px 5px 15px black;
	margin: 0;
	text-align: center;
	font-size: 1.5rem;
}

.decor {
	width: 90%;
	margin: 0;
	position: relative;
	left: 5%;
}

.menu-img {
	width: 90%;
	position: relative;
	left: 5%;
}

.menu-title {
	margin: 0;
	font-family: 'Laila', serif;
	padding-left: 2em;
}

.menu-desc {
	margin: 0;
	padding: 0 1em 2em 2em;
}

main {
	clear: both;
}

.first-p {
	margin: 2em 0 0.5em 0;
}

.location-p {
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	margin-top: 2em;
}

.map {
	width: 100%;
	opacity: 0.6;
	margin-bottom: -0.3em;
}

.map-div{
	background-image: url("../images/map.jpg");
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: 1em;
}

.map-div::before{
	background-color: #A00000;
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
}

.map-button {
	background: radial-gradient(#A00000, #5F0000);	color: #fffcdf;
	border-radius: 2em;
	padding: 0.5em 1em;
	display: block;
	text-align: center;
	width: 60%;
	position: absolute;
	left: 20%;
	bottom: 10%;
	text-decoration: none;
	box-shadow: 0px 5px 15px black;
}

.map-button:hover {
	background: radial-gradient(#5F0000, #400000);
}
	
.contact-div {
	position: relative;
}

.contact-div a {
	color: black;
}
.left-contact {
	font-family: 'Laila', serif;
	margin-right: 1em;
}

.email-p {
	margin: 0;
}

.social-ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.social-ul li {
	display: inline-block;
	width: 25%;
	float: left;
	position: relative;
	padding: 1em;
}

footer {
	clear: both;
	list-style-type: none;
	color: white;
	background: radial-gradient(#A00000, #5F0000);
}

.footer-a {
	color: white;
	text-align: center;
	text-decoration: none;
	margin: 0;
	width: 25%;
}

.social-ul img{
	border-radius: 5em;
}

.social-ul img:hover {
	box-shadow: 0px 5px 15px black;
	transform: translate(0, -10px);
}

footer nav ul {
	margin: 0;
	padding-left: 0;
	overflow: hidden;
}

footer nav ul li {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 1em 0;
	width: 20%;
	float: left;
	text-align: center;
}